*{
font-variant: small-caps;
}
body{
    background-color: rgba(240, 236, 225, 0.813);
}
.input{
    border:  4px solid black;
    height: 40vh;
    width: 80vw;
    border-radius: 6%;
    margin-top:  50%;
    margin-left:  10%;
}
.input  form{
    margin-top: 30%;
    margin-left:  15%;
}
.input  input{
    margin-top: 10%;
    background: transparent;
    border:  none;
    border-bottom:  2px solid black;
    font: 1000;
    height:  3%;
    width:  70%;
}
.input input[type='Submit']{
  height: 6vh;
  width:  25%;
  border:  4px solid black;
  border-radius: 18px;
  margin-left: 25%;
}